
<%= link_to(image_tag(asset_path('mdmelogo.png')), root_path) %>
<%= link_to 'about us', about_path %>
<%= link_to 'contact', contact_path %>
<% if patient_signed_in? %>
<div ng-click="test()">  <%= link_to 'my account', patient_path(current_patient) %></div>
  <% else %>
  <a href="/signin">sign in</a>
  <% end %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="breadcrumbs">
        <%= render_breadcrumbs  separator: ' > ' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3" style="text-align: center;">
      <%= link_to image_tag(asset_path('full_logo_white.png'), class: 'logo img-responsive'), root_path %>

    </div>
  </div>

  <%= render 'static_pages/menu_black' %>




