<div class="container" id="main-content">
  <%= render 'shared/flash' %>
  <div class="row fixedheight">
    <div class="col-xs-5">
      <%= link_to image_tag(asset_path('mdmelogo.png')), root_path %>
    </div>

    <div id="static-links">
      <div class="col-xs-1 col-xs-offset-2">
        <%= link_to 'about us', about_path %>
      </div>
      <div class="col-xs-1">
        <a href="#">services</a>
      </div>
      <div class="col-xs-1">
        <%= link_to 'contact', contact_path %>
      </div>
      <div class="col-xs-1">
        <a href="#">resources</a>
      </div>
      <div class="col-xs-1">
        <% if patient_signed_in? %>
          <%= link_to 'sign out', signout_path, method: :delete %>
        <% else %>
          <a href="/signin">sign in</a>
        <% end %>
      </div>
    </div>
  </div>
  <hr id="nav-break"/>

