<div class="container" id="main-content">
  <div class="navbar  navbar-static-top">
    <div class="container">
      <%= render 'shared/flash' %>
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><img src="<%= asset_path( 'MDME_banner.png' ) %>" /></a>
      </div>
    </div>
  </div>
  <div class="navbar-collapse collapse text-center">
    <ul class="nav nav-justified ">
      <li class="active"><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'About', about_path %></li>
      <li><a href="#">Our Doctors</a></li>
      <li><%= link_to 'About', contact_path %></li>
      <% if patient_signed_in? %>
      <li><%= link_to 'Sign out', signout_path, method: :delete %></li>
      <% else %>
      <li><a href="/signin">Sign in</a></li>
      <% end %>
    </ul>
  </div>
