<div class="container  <%= 'container-larger-sized' if params[:action] == 'home' %> ">
  <div class="row">
    <div class="col-md-3">
      <div class="breadcrumbs">
        <%= render_breadcrumbs  separator: ' > ' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" style="text-align: center;">
      <%= link_to image_tag(asset_path('full_logo_white.png'), class: 'logo'), root_path %>

    </div>
  </div>


  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>

  <h4 style="text-align: center; color: white; margin-top: -8em; font-style: italic">
  scheduling simplified
</h4>
<%= render 'shared/flash' %>

<div class="row">
  <div class="col-md-12 button_links" style="text-align: center; margin-top: 10em;">
    <%= link_to 'Learn More', about_path, class:'btn btn-large button_inverse' %>

  </div>


</div>
</div>


<div class="container container-white container-smaller-sized">
 <div class="row">
   <div class="col-md-8 col-md-offset-2" style="margin-top: 10em;">
     <hr id="menu-topbar"/>
   </div>
 </div>
 <div class="row">
   <div class="col-md-8 col-md-offset-2">
     <div class="row home-menu-links">
       <div class="col-md-4">
         <%= link_to 'SIGN IN', signin_path %>
       </div>
       <div class="col-md-4">
         SERVICES
       </div>
       <div class="col-md-4">
         CONTACT
       </div>
     </div>
   </div>
</div>

<!--<div class="row">-->
  <!--<div class="col-xs-6">-->
     <!--<h1 id="main-heading">-->
       <!--Scheduling Simplified-->
     <!--</h1>-->
     <!--<h3 class="main-text">-->
     <!--MD&ME is a real-time online scheduling network for the coordination of-->
     <!--your medical appointments directly with your physician-->
     <!--</h3>-->
  <!--</div>-->
  <!--<div class="col-xs-6 text-center">-->
    <!--<img src="<%= asset_path( 'docAmpPatient.png' ) %>" />-->


  <!--</div>-->
<!--</div>-->

<!--<div class="row main-row" style="background-color: white">-->
  <!--<div class="col-xs-6 main-bottom dashboard-panel-6">-->
    <!--<h1>-->
      <!--Why Use It?-->
    <!--</h1>-->
    <!--Laudantium sed rem. Voluptatum id officiis voluptatem dicta amet odio nam. Suscipit et repudiandae est.-->
    <!--Quae pariatur qui iure. Dolor error neque earum. Cupiditate debitis hic esse temporibus quo sunt. Accusamus-->
    <!--rem nihil aut magnam ipsam quia tempora. Sit aut est molestias iusto hic. Pariatur ut sed consequatur officia iusto.-->
    <!--Error expedita enim omnis accusamus odio quia non. Ad minima consequuntur iure ex. Culpa blanditiis quasi dolorem-->
    <!--temporibus.-->
  <!--</div>-->
  <!--<div class="col-xs-6 main-bottom pull-right" style="background-color: #e6e6e6;">-->

      <!--<h1>-->
        <!--Who Is It For?-->
      <!--</h1>-->
      <!--Inventore est eligendi et blanditiis. Repellat iure officia recusandae omnis minus. Unde nostrum quia.-->
      <!--Odit natus quaerat qui aut qui. Aut itaque dolore rem fugit dolores. Voluptatibus et voluptas. Est dolor et.-->
      <!--Qui id nulla atque aliquid. Nihil aspernatur omnis sit nisi. Qui itaque vel aperiam soluta reiciendis consequatur.-->
      <!--Eum ex illum facere molestiae doloribus. Assumenda non asperiores nihil delectus quia omnis ut.-->
  <!--</div>-->
<!--</div>-->


