<div class="container-fluid container-black-logo  <%= 'container-larger-sized' if params[:action] == 'home' %> ">
  <div class="row">
    <div class="col-md-3">
      <div class="breadcrumbs">
        <%= render_breadcrumbs  separator: ' > ' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= link_to image_tag(asset_path('full_logo_white.png'), class: 'logo img-responsive'), root_path %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3" style="text-align: center">
      <h4 style="color: white;">
        scheduling simplified
      </h4>
    </div>
    <div class="row">
      <div class="col-md-12 button-blue-text" style="text-align: center; margin-top: 2em;">
        <%= link_to 'Learn More', about_path, class:'button_links button_inverse btn btn-large' %>
      </div>
    </div>
  </div>
  <%= render 'shared/flash' %>
   {{message}}
</div>
<div class="container-fluid container-white container-smaller-sized">
  <div class="row">
    <div class="col-md-8 col-md-offset-2" style="margin-top: 10em;">
      <hr id="menu-topbar"/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="row home-menu-links">
        <div class="col-xs-3 col-md-3">
          <%= link_to 'ABOUT', about_path %>
        </div>
        <div class="col-xs-3 col-md-3">
          <a href="#">SERVICES</a>
        </div>
        <div class="col-xs-3 col-md-3">
          <%= link_to 'CONTACT', contact_path %>
        </div>
        <div class="col-xs-3 col-md-3">
          <%= link_to 'SIGN IN', signin_path %>
        </div>
      </div>
    </div>
  </div>
</div>
