<%= render 'static_pages/header' %>
<% provide(:title, ' | Sign In') %>
  <%= render 'shared/flash' %>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Sign in</strong>
        </div>
        <div class="panel-body">
          <%= form_for(:session, url:sessions_path, html: { class: 'form form-horizontal form-group', role: 'form' }) do |f| %>
              <%= render '/shared/signin', f: f %>
          <% end %>

          <p><%= link_to 'Forgot Password', forgot_password_path %></p>
        </div>
      </div>

    </div>
  </div>

