<nav class="admin-navbar navbar navbar-dark navbar-fixed-top bg-invers ">
  <button type="button" class="navbar-toggler hidden-sm-up" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <%= link_to "MDme |", admin_appointments_path(@admin), :class=>'navbar-brand' %>
  <div id="navbar">
    <nav class="nav navbar-nav pull-xs-left" id="admin-nav">
      <%= link_to "<i class='icon-book mdme-icon'></i> Appointments".html_safe, admin_appointments_path(current_admin), :class=>"nav-item nav-link admin-header-nav-link" %>
      <%= link_to "<i class='icon-doctor mdme-icon'></i> Doctors".html_safe, admin_doctors_path(current_admin), :class=>"nav-item nav-link admin-header-nav-link" %>
      <%= link_to "<i class='icon-man mdme-icon'></i> Patients".html_safe, admin_patients_path(current_admin), :class=>"nav-item nav-link admin-header-nav-link" %>
      <%= link_to "<i class='icon-hospital mdme-icon'></i> Clinic".html_safe, admin_departments_path(current_admin), :class=>"nav-item nav-link admin-header-nav-link" %>
      <a class="nav-item nav-link" href="#"><i class='icon-account mdme-icon'></i> Account</a>
      <%= link_to "<i class='icon-back mdme-icon'></i> Sign Out".html_safe, signout_path, method: :delete, :class=>"nav-item nav-link" %>
    </nav>
    <form class="pull-xs-right">
      <input type="text" class="form-control" placeholder="Search...">
    </form>
  </div>
</nav>
<div class="row-fluid">
  <div class="col-md-9 col-md-offset-2">
    <div id="flash">
    </div>
  </div>
</div>
