<nav class="admin-navbar navbar navbar-dark navbar-static-top bg-invers ">
  <button type="button" class="navbar-toggler hidden-md-up" data-toggle="collapse" data-target="#admin-nav" aria-expanded="false" aria-controls="navbar">
    <span class="sr-only">Toggle navigation</span>
    &#9776;
  </button>
  <%= link_to "MDme |", admin_appointments_path(@admin), :class=>'navbar-brand' %>
  <nav class="nav navbar-nav collapse pull-sm-left navbar-toggleable-sm" id="admin-nav" style="font-size: .8rem;">
    <%= link_to "<i class='icon-book mdme-icon'></i> Appointments".html_safe, admin_appointments_path(current_admin), :class=>"nav-item nav-link admin-header-nav-link" %>
    <%= link_to "<i class='icon-doctor mdme-icon'></i> Doctors".html_safe, admin_doctors_path(current_admin), :class=>"nav-item nav-link admin-header-nav-link" %>
    <%= link_to "<i class='icon-man mdme-icon'></i> Patients".html_safe, admin_patients_path(current_admin), :class=>"nav-item nav-link admin-header-nav-link" %>
    <%= link_to "<i class='icon-hospital mdme-icon'></i> Clinic".html_safe, admin_departments_path(current_admin), :class=>"nav-item nav-link admin-header-nav-link" %>
    <a class="nav-item nav-link" href="#"><i class='icon-account mdme-icon'></i> Account</a>
    <form class="pull-sm-right nav-item">
      <input type="text" class="form-control" placeholder="Search...">
    </form>
  </nav>
  <%= button_to "Sign Out".html_safe, signout_path, method: :delete, :class=>"nav-item nav-link btn btn-primary pull-xs-right", :id=>'admin-signout' %>


</nav>
<div class="row-fluid" style="margin-top: 1em;">
  <div class="col-md-10 col-md-offset-1">
    <div id="flash">
      <%= render 'shared/flash' %>
    </div>
  </div>
</div>
