<div class="container" id="main-content">
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <!-- upper section -->
  <div class="row">
    <div class="col-md-3">
      <div class='panel panel-default'>
        <div class="panel-heading"><strong><i class="fa fa-medkit"></i> Toolbox</strong></div>
        <div class="well">

          <ul class="nav nav-pills nav-stacked">
            <li><%= link_to "<i class='fa fa-calendar-o'></i> Today's Appointments".html_safe, admins_path %></li>
            <li><%= link_to "<i class='fa fa-book'></i> Manage Appointments".html_safe, appointments_path %></li>
            <li><%= link_to "<i class='fa fa-user-md'></i> Manage Doctors".html_safe, doctors_path %></li>
            <li><%= link_to "<i class='fa fa-users'></i> Manage Patients".html_safe, patients_path %></li>
          </ul>


      </div>
    </div>
  </div>
