<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li class="active"><%= link_to "<i class='fa fa-calendar-o'></i> Today's Appointments".html_safe, admins_path %></a></li>
    <li><%= link_to "<i class='fa fa-book'></i> Manage Appointments".html_safe, admin_appointments_path(current_admin) %></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li><%= link_to "<i class='fa fa-user-md'></i> Manage Doctors".html_safe, admin_doctors_path(current_admin) %></li>
    <li><%= link_to "<i class='fa fa-users'></i> Manage Patients".html_safe, admin_patients_path(current_admin) %></li>
    <li><%= link_to "<i class='fa fa-th-large'></i> Manage Departments".html_safe, admin_departments_path(current_admin) %> </li>
  </ul>
  <ul class="nav nav-sidebar">
    <li><a href="#">Account Settings</a></li>
    <li><%= link_to "<i class='fa fa-minus-circle'></i> Sign Out".html_safe, signout_path, method: :delete %></li>
  </ul>
</div>