<% provide(:title, ' | Sign In') %>
<%= render 'header_no_links' %>
  <%= render 'shared/flash' %>

  <div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <div class="panel panel-default ">
      <div class="panel-heading " style="text-align: center">
        <strong>Admin Sign In</strong>
      </div>
      <div class="panel-body panel-inverse" style="text-align: center;">
        <%= form_for(:session, url:sessions_path, html: { class: 'form form-horizontal form-group', role: 'form' }) do |f| %>

          <%= render '/shared/signin', f: f %>
        <% end %>

        <p><%= link_to 'Forgot Password', forgot_password_path %></p>
      </div>
    </div>

  </div>
</div>

