<%= provide(:title, "Edit Appointment") %>
<%= render 'admins/header' %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>Edit Doctor</h4></div>
      <div class="panel-body panel-inverse">

        <%= form_for(@doctor, url: url_for(controller: 'admins/doctors', action: 'update'), method: :put, html: { :multipart => :true, class: "form-horizontal", role: "form" }) do |f| %>
            <%= render 'doctors/new_edit_form', f: f %>

            <div class="col-xs-6 col-xs-offset-3" style="text-align: center;">
              <%= f.submit 'Update', class: 'btn btn-success' %>
            </div>
        <% end %><br/><br/>
        <div class="row">
          <div style="text-align: left">
            <%= link_to 'Delete Doctor', admin_doctor_path(@admin, @doctor), method: :delete %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>





