<%= provide(:title, "Edit Appointment") %>
<%= render 'admins/sidebar' %>

<div class="col-xs-8">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading"><h4>Edit Appointment</h4></div>
        <div class="panel-body">

          <%= form_for(@appointment, url: url_for(controller: 'admins/appointments', action: 'update'), method: :put, html: { class: "form-inline", role: "form" }) do |f| %>,
              <%= f.label(:datetime, "Select Appointment Time") %>
              <div class='form-group'>
                <%= text_field :appointment, :day, class: 'form-control', value: @appointment.date %>
              </div>
              <div class='form-group'>
                <select class="form-control" id="date_hour" name="appointment[hour]">
                  <option <%= 'selected="selected"' if @appointment.appointment_time_hour == 9  %> value="09">09 AM</option>
                  <option <%= 'selected="selected"' if @appointment.appointment_time_hour == 10 %> value="10">10 AM</option>
                  <option <%= 'selected="selected"' if @appointment.appointment_time_hour == 11 %> value="11">11 AM</option>
                  <option <%= 'selected="selected"' if @appointment.appointment_time_hour == 12 %> value="12">12 PM</option>
                  <option <%= 'selected="selected"' if @appointment.appointment_time_hour == 13 %> value="13">01 PM</option>
                  <option <%= 'selected="selected"' if @appointment.appointment_time_hour == 14 %> value="14">02 PM</option>
                  <option <%= 'selected="selected"' if @appointment.appointment_time_hour == 15 %> value="15">03 PM</option>
                  <option <%= 'selected="selected"' if @appointment.appointment_time_hour == 16 %> value="16">04 PM</option>
                </select>
              </div> :

              <div class= 'form-group'>
                <select class="form-group form-control" id="date_minute" name="appointment[minute]">
                  <option <%= 'selected="selected"' if @appointment.appointment_time_minute == 0  %> value="00">00</option>
                  <option <%= 'selected="selected"' if @appointment.appointment_time_minute == 15 %> value="15">15</option>
                  <option <%= 'selected="selected"' if @appointment.appointment_time_minute == 30 %> value="30">30</option>
                  <option <%= 'selected="selected"' if @appointment.appointment_time_minute == 45 %> value="45">45</option>
                </select>
              </div>
              <br/>
              <br/>
              <div class='form-group'>
                <%= f.label(:doctor, "Select Doctor") %>
                <%= collection_select(:appointment, :doctor_id, Doctor.in_clinic(@appointment), :id, :full_name, {selected: @appointment.doctor.id}, { class: 'form-control'}) %>
              </div>
              <div class='form-group'>
                <%= f.label(:patient, "Select patient") %>
                <%= collection_select(:appointment, :patient_id, Patient.in_clinic(@appointment), :id, :full_name, {selected: @appointment.patient.id}, { class: 'form-control'}) %>
              </div>
              <br/>
              <br/>
              <div class='form-group'>
                <%= f.label(:description, 'Notes') %>
                <%= f.text_area(:description, class: 'form-control', id: 'desc_text', placeholder: 'Appointment notes', value: @appointment.description, rows: '5') %>
              </div>
              </br>
              </br>



              <%= f.submit 'Update', class: 'btn btn-success' %>

          <% end %> <br/>
          <%= link_to 'Delete Appointment', admin_appointment_path(@admin, @appointment), method: :delete %>

        </div>
      </div>
    </div>
  </div>
</div>

</div>





