<%= provide(:title, "Edit Appointment | ") %>
<%= render 'admins/header' %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>Edit Appointment</h4></div>
      <div class="panel-body panel-inverse">
        <div class="alert alert-info">To change doctor or date, please delete and remake the appointment</div>
        <%= form_for(@appointment, url: url_for(controller: 'admins/appointments', action: 'update'), method: :put, html: { class: "form-horizontal", role: "form" }) do |f| %>
          <div class="row">
            <div class='form-group'>
              <div class="col-xs-6 col-xs-offset-3">
                <%= f.label(:datetime, "Select Appointment Time") %>
                <select class="form-control" id="time" name="appointment[time]">
                  <% @open_times.each_with_index do |time, index| %>
                    <option <%= 'selected="selected"' if index+1 == @open_times.length %>value="<%= time %>"><%= time %></option>
                  <% end %>
                </select>
              </div>
            </div>
            <div class='form-group'>
              <div class="col-xs-6 col-xs-offset-3">
                <%= f.label(:doctor, "Select Doctor") %>
                <%= collection_select(:appointment, :doctor_id, Doctor.in_clinic(@appointment), :id, :full_name, {selected: @appointment.doctor.id}, { class: 'form-control'}) %>
              </div>
            </div>
            <div class='form-group'>
              <div class="col-xs-6 col-xs-offset-3">
                <%= f.label(:patient, "Select patient") %>
                <%= collection_select(:appointment, :patient_id, Patient.in_clinic(@appointment), :id, :full_name, {selected: @appointment.patient.id}, { class: 'form-control'}) %>
              </div>
            </div>
            <div class='form-group'>
              <div class="col-xs-6 col-xs-offset-3">
                <%= f.label(:description, 'Notes') %>
                <%= f.text_area(:description, class: 'form-control', id: 'desc_text', placeholder: 'Appointment notes', value: @appointment.description, rows: '5', style: 'width: 100%') %>
              </div>
            </div>
            <div class="col-xs-6 col-xs-offset-3" style="text-align: center;">
              <%= f.submit 'Update', class: 'btn btn-success' %>
            </div>
          </div>
        <% end %> <br/>
        <%= link_to 'Delete Appointment', admin_appointment_path(@admin, @appointment), method: :delete %>

      </div>
    </div>
  </div>
</div>






