<%= provide(:title, "Today's Appointments") %>
<div class="container-fluid" style="padding-bottom: 2em;">
  <%= render 'admins/appointments/sub_menu.html.erb' %>

  
  <div class="row" style="margin-bottom: 0.5em;">
    <div class="col-xs-8">
      <div class='form-inline'>
        <div class="form-group">
          <%= label_tag :date %>
          <%= text_field_tag :date, nil, :class=>"form-control" %>
        </div>
        <button id="find-button" class="btn btn-primary">Find</button>
      </div>
    </div>
  </div>
  
  <div id="appointments-list" style="margin-top: 1em;">
    <%= render 'appointments_table' %>
  </div>
</div>

<script type="text/javascript">
  document.addEventListener("turbolinks:load", function() {
      $(document).ready(function() {
      $('#date').datepicker({
      });
      $('#find-button').click(function() {
        $.ajax({
          method: 'get',
          url: '<%= admin_appointments_path(@admin) %>',
          data: {date: $('#date').val() },
          success: function(data) {
            $('#appointments-list').html(data)
          },
          complete: function() {
            $('a.doc-tab-link').attr('class', 'nav-link doc-tab-link');
            $($('a.doc-tab-link')[0]).attr('class', 'nav-link doc-tab-link active');
          }
        })
      });
    });
  });
</script>




