<%= provide(:title, "New Appointment |") %>
<div class="container-fluid" style="background-color: #f5f5f5; padding-top: 2em; padding-bottom: 2em;">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_tag open_times_admin_clinics_path(@admin), :remote=>true, :id=>'open-times-form' do %>
        <fieldset class="form-group row">
          <label for="appointment_doctor_id" class="col-sm-3 form-control-label"><small>Provider:</small></label>
          <div class="col-sm-9">
            <%= select :appointment, :doctor_id, options_from_collection_for_select(@doctors, :id, :full_name), {:prompt => "--Select Doctor--"}, {:class=>'form-control'}  %>
          </div>
        </fieldset>
        <fieldset class="form-group row">
          <label for="appointment_date" class="col-sm-3 form-control-label"><small>Date:</small></label>
          <div class="col-sm-9">
            <%= text_field_tag 'date', '', :class=>'date-pick form-control' %>
          </div>
        </fieldset>
        <fieldset class="form-group row">
          <label for="appointment_time_of_day" class="col-sm-3 form-control-label" style="white-space: nowrap;"><small>Time of Day:</small></label>
          <div class="col-sm-9">
            <%= select_tag :time_of_day, options_for_select(['All', 'Morning', 'Afternoon'], :selected=>'All'), :class=>'form-control' %>
          </div>
        </fieldset>
        <fieldset class="form-group" style="text-align: center; margin-top: 1em;">
          <%# hidden_field_tag :day_start %>
          <%# hidden_field_tag :day_end %>

          <%= submit_tag 'Search', :class=>'btn btn-primary' %>
        </fieldset>
      <% end %>
    </div>
  </div>
  <div id="date_time_slots"></div>
  <hr/>
</div>
<div class="modal fade" id="appointment-request-modal" tabindex="-1" role="dialog" aria-labelledby="appointment-form-popup" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="appointment-form-popup"></h4>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1" id="appointment-modal-provider">
              Provider:
            </div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-sm-12" data-turbolinks="false">
              <%= form_for @appointment, url: url_for(controller: 'admins/appointments', action: 'create', :admin_id=>@admin.id), :remote=>true, :html=>{:id=>'appointment-request-form'} do |f| %>
                <%= hidden_field_tag 'appointment[date]' %>
                <%= hidden_field_tag 'appointment[time]' %>
                <%= hidden_field_tag 'appointment[doctor_id]' %>
                <fieldset class="form-group row">
                  <div class="col-sm-10 col-sm-offset-1">
                    <label for="appointment_description">Reason for visit:</label>
                    <%= f.text_area :description, :class=>'form-control', :rows=>'6' %>
                  </div>
                </fieldset>
                <fieldset class="checkbox row">
                  <div class="col-sm-10 col-sm-offset-1">
                    <%= f.check_box :inform_earlier_time %>  Inform patient if earlier time slot opens
                  </div>
                </fieldset>
                </div>
                </div>
                </div>
                </div>
                <div class="modal-footer">
                  <div style="text-align: center;">
                    <%= f.submit 'Request', :class=>'btn btn-primary' %>
                  </div>
                </div>
              <% end %>
              </div>
  </div>
</div>


<script type="text/javascript">

  $(document).on('click', '.time-slot-button', function() {
    var openTimesForm = $('#open-times-form');
    var modalWrapper = $('#appointment-request-modal');
    var date = new Date(openTimesForm.find('input#date').val());
    switch ($(this).data('dateslot')) {
      case 0:
        date = new Date(date.setDate(date.getDate()-1));
        break;
      case 2:
        date = new Date(date.setDate(date.getDate()+1));
        break;
    }
    var dateText = $(this).parent().parent().parent().parent().find('.date-slot small').text();
    var time = $(this).text();
    modalWrapper.find('input#appointment_time').val(time);
    modalWrapper.find('input#appointment_date').val("" + (1+date.getMonth()) + '/' + date.getDate() + '/' + date.getFullYear());
    modalWrapper.find('input#appointment_doctor_id').val(openTimesForm.find('select#appointment_doctor_id').val());
    modalWrapper.find('#appointment-modal-provider').html('Provider: ' + openTimesForm.find('select#appointment_doctor_id option:selected').text());
    modalWrapper.find('.modal-title').html(dateText + ' ' + time);
  });

  $('#appointment-request-modal').on('hidden.bs.modal', function() {
    $('.appointment-errors').remove();
  });
</script>