<div class="container" id="date-time-slots-wrapper">
  <div class="row">
    <% @days_times[:dates].each_with_index do |date, index| %>
      <div class="col-xs-4">
        <div class="row">
          <div class="col-md-12 date-slot-header">
            <div class="date-slot">
              <small><%= date_slot_header_formatter(date) %></small>
            </div>
            <div class="time-buttons">
              <% if  @days_times[:times][index] == false %>
                <div class="row">
                  <div class="col-md-12">
                    CLOSED
                  </div>
                </div>
              <% else %>
                <% @days_times[:times][index].each do |timeslot| %>
                  <div class="row">
                    <div class="col-md-12">
                      <% if timeslot[:enabled] %>
                        <button data-time="<%= timeslot[:time] %>" data-date="<%= date.to_s.html_safe %>" class="btn btn-sm btn-primary time-slot-button"><%= timeslot[:time] %></button>
                      <% else %>
                        <button class="btn btn-sm btn-secondary" disabled><%= timeslot[:time] %></button>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

