<div class="row">
  <div class="col-md-11 main-holder">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>Profile</h4></div>
      <div class="panel-body">
        <%= render 'shared/flash' %>

        <%= image_tag @patient.avatar.url(:thumb), id: 'avatar' %>
        <br/>
        <b>First Name:</b> <%= @patient.first_name %><br/>
        <b>Last Name:</b> <%= @patient.last_name %><br/>
        <b>Email:</b> <%= @patient.email %><br/>
        <b>Phone:</b> <%= @patient.phone_number %><br/>
        <b>Preferred Doctor:</b> <%= @patient.doctor.full_name %><br/>
        <br/>
        <div class="button_links">
            <div class="col-xs-8" style="padding-left: 1em;">
               <%= link_to 'Edit<br/>Profile'.html_safe, edit_patient_path(@patient), method: :get, class: 'btn btn-large btn-primary', style: 'width: 7em;'  %>
            </div>
            <div class="col-xs-1" style="padding-right: 1em;">
              <%= link_to 'Change<br/>Password'.html_safe, patient_password_path(@patient), method: :get, class: 'btn btn-large btn-success' %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>