<%= provide(:title, 'Patients') %>
<%= render 'admins/header' %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>Search</h4></div>
      <div class="panel-body panel-inverse">
        <%= form_for(:patient, url:admin_patient_search_path, remote: true, method: :get, html: { class: 'form-horizontal', role: 'form' }) do |f| %>
          <div class="form-group">
            <%= f.label(:last_name, 'Last Name:',class: 'col-sm-2 control-label') %>
            <div class="col-xs-4">
              <%= f.text_field(:last_name, class: 'form-control') %>
            </div>
            <%= f.label(:first_name, 'First Name:',class: 'col-sm-2 control-label') %>
            <div class="col-xs-4">
              <%= f.text_field(:first_name, class: 'form-control') %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label(:pid, 'Patient ID:', class: 'col-sm-2 control-label') %>
            <div class="col-xs-4">
              <%= f.text_field(:pid, class: 'form-control') %>
            </div>
            <%= f.label(:dob, 'DOB:', class: 'col-sm-2 control-label') %>
            <div class="col-xs-4">
              <%= f.text_field(:dob, class: 'form-control', placeholder: 'mm-dd-yyyy') %>
            </div>
          </div>

          <div class='form-group' id="submit" style="text-align: center;">
            <%= f.submit 'Search' , class: 'btn btn-large btn-primary', id: 'submit_button' %>
          </div>
        <% end %>

        <div id="patients-load">

        </div>


      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row">
      <div class="col-xs-12 inverse-color">
        <%= link_to "Add Patient", new_admin_patient_path(@admin) %><br/>
        <%= link_to "Patient Index", admin_patients_path(@admin) %>
      </div>
    </div>
  </div>
</div>

