<%= provide(:title, "New Patient") %>
<%= render 'admins/header' %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>Add Patient</h4></div>
      <div class="panel-body panel-inverse">

        <%= form_for @patient, url: url_for(controller: 'patients', action: 'create') do |f| %>
          <%= render 'patients/new_edit_form', f: f %>

          <div class="row">
            <div class="col-xs-6 col-xs-offset-3" style="text-align: center;">
              <%= f.submit 'Create', class: 'btn btn-success' %>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>






