<div ng-controller="PatientsCtrl">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%= render 'shared/flash' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="breadcrumbs">
          <%= render_breadcrumbs  separator: ' > ' %>
        </div>
      </div>
      <div class="col-md-3 col-md-offset-6" style="text-align: right;">
        <%= link_to "Sign Out", signout_path, method: :delete %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-4">
      <div id="logo-container">
        <%= link_to image_tag(asset_path('full_logo_white.png'), class: 'logo'), root_path %>
      </div>
    </div>
  </div>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <hr id="patient-menu-topbar"/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="row patient-home-menu-links ">
        <div class="col-md-3">
          <%= link_to 'HOME', patients_path %>
        </div>
        <div class="col-md-3">
          <%= link_to 'MY PROFILE', patient_path(current_patient) %>
        </div>
        <div class="col-md-3">
          <a href="#">MY RESULTS</a>
        </div>
        <div class="col-md-3">
          <%= link_to 'MY APPOINTMENTS', patient_appointments_path(current_patient) %>
        </div>
      </div>
    </div>
  </div>
  <br/><br/><br/>
  <div>
    {{message}}
    <% unless @upcoming_appointment.nil? %>
      <div class="appointment-progressbar">
        <div class="row">
          <div class="col-xs-6 col-xs-offset-3">
            <div class="row">
              <div class="col-xs-6">
                <%= @upcoming_appointment.date %>
              </div>
              <div class="col-xs-2 col-xs-offset-4" style="text-align: right;">
                <%= @upcoming_appointment.delayed_time_ampm %>
              </div>
            </div>
            <div class="progress progress-striped">
              <div class="progress-bar progress-bar-<%= @color %>" role="progressbar" aria-valuenow="<%= @percent %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @percent %>%">
                <span class="sr-only"><%= @percent %>% Complete (<%= @color %>)</span>
              </div>
            </div>
            <div style="text-align: center;">
              <%= @humanized_time_left %>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <div style="text-align: center;">No upcoming appointments</div>
    <% end %>
  </div>
</div>
<br/><br/><br/>
