<div class="container-non-responsive">
  <div class="row">
    <div class="col-xs-3">
      <div class="breadcrumbs">
        <%= render_breadcrumbs  separator: '->' %>
      </div>
    </div>
    <div class="col-xs-3 col-xs-offset-6">
      <div class="top-links">
        <%= link_to 'About Us', about_path %>  |
        <a href="#">Software</a> |
        <%= link_to 'Contact', contact_path %> |
        <%= link_to "Sign Out", signout_path, method: :delete %>
      </div>
    </div>
  </div>
  <div id="logo-container">
    <%= image_tag(asset_path('full_logo.png'), class: 'logo') %>
  </div>
  <hr id="nav-break"/>

