<%= render 'shared/flash' %>
<%= render 'shared/error_messages', object: @patient %>

<fieldset class='form-group row'>
    <div class='col-sm-5'>
      <%= f.label(:patient, 'First Name*') %>
      <%= text_field :patient, :first_name, class: 'form-control' %>
    </div>
    <div class='col-sm-5'>
      <%= f.label(:patient, 'Last Name*') %>
      <%= text_field(:patient, :last_name, class: 'form-control') %>
    </div>
    <div class="col-sm-2">
      <%= f.label(:patient, 'M.I.') %>
      <%= text_field(:patient, :middle_initial, class: 'form-control') %>
    </div>
</fieldset>

<fieldset class='form-group row'>
  <div class="col-sm-2">
    <%= f.label(:patient, 'Prefix') %>
    <%= text_field(:patient, :name_prefix, class: 'form-control') %>
  </div>
  <div class="col-sm-2">
    <%= f.label(:patient, 'Suffix') %>
    <%= text_field(:patient, :name_suffix, class: 'form-control') %>
  </div>
  <div class='col-sm-4'>
    <%= f.label(:patient, 'Email*') %>
    <%= text_field(:patient, :email, class: 'form-control') %>
  </div>
  <div class='col-sm-4'>
    <%= f.label(:patient, 'Birthday*') %>
    <%= text_field(:patient, :birthday, placeholder: 'YYYY-MM-DD', class: 'form-control') %>
  </div>
</fieldset>

<fieldset class='form-group row'>
  <div class='col-sm-3'>
    <%= f.label(:patient, 'Home Phone #') %>
    <%= text_field(:patient, :home_phone, placeholder: '123-456-7890', class: 'form-control') %>
  </div>
  <div class='col-sm-3'>
    <%= f.label(:patient, 'Mobile Phone #') %>
    <%= text_field(:patient, :mobile_phone, placeholder: '123-456-7890', class: 'form-control') %>
  </div>
  <div class='col-sm-3'>
    <%= f.label(:patient, 'Work Phone #') %>
    <%= text_field(:patient, :work_phone, placeholder: '123-456-7890', class: 'form-control') %>
  </div>
  <div class='col-sm-3'>
    <%= f.label(:patient, 'Work Extension') %>
    <%= text_field(:patient, :work_phone_extension, class: 'form-control') %>
  </div>
</fieldset>

<fieldset class='form-group row'>
    <div class="col-sm-3">
      <%= f.label(:patient, 'SSN#*') %>
      <%= text_field(:patient, :social_security_number, placeholder: '123-44-5567', :value=>@patient.social_last_four, class: 'form-control') %>
    </div>
    <div class="col-sm-6">
      <%= f.label(:patient, 'Marital Status') %><br/>
      <%= f.label(:patient, 'Single', value: Patient::MaritalStatus::SINGLE, :class=>'radio-inline') do %>
        <%= f.radio_button :marital_status, Patient::MaritalStatus::SINGLE %>Single
      <% end %>
      <%= f.label(:patient, 'Married', value: Patient::MaritalStatus::MARRIED, :class=>'radio-inline') do %>
        <%= f.radio_button :marital_status, Patient::MaritalStatus::MARRIED %>Married
      <% end %>
      <%= f.label(:patient, 'Divorced', value: Patient::MaritalStatus::DIVORCED, :class=>'radio-inline') do %>
        <%= f.radio_button :marital_status, Patient::MaritalStatus::DIVORCED %>Divorced
      <% end %>
      <%= f.label(:patient, 'Widowed', value: Patient::MaritalStatus::WIDOWED, :class=>'radio-inline') do %>
        <%= f.radio_button :marital_status, Patient::MaritalStatus::WIDOWED %>Widowed
      <% end %>
      <%= f.label(:patient, 'Other', value: Patient::MaritalStatus::OTHER, :class=>'radio-inline') do %>
       <%= f.radio_button :marital_status, Patient::MaritalStatus::OTHER %>Other
      <% end %>
    </div>
    <div class="col-sm-3">
      <%= f.label(:patient, 'Sex*') %>  <br/>
      <%= f.label(:patient, 'Male', value: Patient::Sex::MALE, :class=>'radio-inline') do  %>
        <%= f.radio_button :sex, Patient::Sex::MALE %>Male
      <% end %>
      <%= f.label(:patient, 'Female', value: Patient::Sex::FEMALE, :class=>'radio-inline') do %>
        <%= f.radio_button :sex, value: Patient::Sex::FEMALE %>Female
      <% end %>
    </div>
</fieldset>

<fieldset class="form-group row">
  <div class="col-sm-6">
    <%= f.label(:patient, 'Address1*') %>
    <%= text_field(:patient, :address1, class: 'form-control') %>
  </div>
  <div class="col-sm-6">
    <%= f.label(:patient, 'City*') %>
    <%= text_field(:patient, :city, class: 'form-control') %>
  </div>
</fieldset>

<fieldset class="form-group row">
  <div class="col-xs-6">
    <%= f.label(:patient, 'Address2') %>
    <%= text_field(:patient, :address2, class: 'form-control') %>
  </div>
  <div class="col-xs-2">
    <%= f.label(:patient, 'State*') %>
    <%= text_field(:patient, :state, placeholder: 'AZ', class: 'form-control') %>
  </div>
  <div class="col-xs-4">
    <%= f.label(:patient, 'Zipcode*') %>
    <%= text_field(:patient, :zipcode, class: 'form-control') %>
  </div>
</fieldset>

<fieldset class="form-group row">
  <div class='col-sm-6 col-sm-offset-3'>
    <%= f.label(:patient, 'Picture', :style=>'display: block;') %>
    <%= f.file_field :avatar %>
  </div>
</fieldset>