<%= render 'shared/error_messages', object: @patient %>

<div class='form-group'>
  <div class='col-xs-6 col-xs-offset-3'>
    <%= f.label(:patient, 'First Name') %>
    <%= text_field :patient, :first_name, class: 'form-control' %>
  </div>
</div>

<div class='form-group'>
  <div class='col-xs-6 col-xs-offset-3'>
    <%= f.label(:patient, 'Last Name') %>
    <%= text_field(:patient, :last_name, class: 'form-control') %>
  </div>
</div>
<div class='form-group'>
  <div class='col-xs-6 col-xs-offset-3'>
    <%= f.label(:patient, "Email") %>
    <%= text_field(:patient, :email, class: 'form-control') %>
  </div>
</div>
<div class='form-group'>
  <div class='col-xs-6 col-xs-offset-3'>
    <%= f.label(:patient, 'Home Phone #') %>
    <%= text_field(:patient, :home_phone, class: 'form-control') %>
  </div>
</div>
<div class='form-group'>
  <div class='col-xs-6 col-xs-offset-3'>
    <%= f.label(:patient, 'Work Phone #') %>
    <%= text_field(:patient, :work_phone, class: 'form-control') %>
  </div>
</div>
<div class='form-group'>
  <div class='col-xs-6 col-xs-offset-3'>
    <%= f.label(:patient, 'Doctor') %>
    <%= collection_select(:doctor, :doctor_id, Doctor.in_clinic(@current_user).ordered_last_name, :id, :full_name, {}, { class: 'form-control'}) %>
  </div>
</div>

<div class="form-group">
  <div class='col-xs-6 col-xs-offset-3'>
  <b>Picture:</b> <%= f.file_field :avatar %>
  </div>
</div>

<br/><br/><br/>