<%= render 'shared/error_messages', object: @patient %>

<div class='form-group'>
  <div class='col-xs-7'>
    <%= f.label(:patient, 'First Name') %>
    <%= text_field :patient, :first_name, class: 'form-control' %>
  </div>
</div>

<div class='form-group'>
  <div class='col-xs-7'>
    <%= f.label(:patient, 'Last Name') %>
    <%= text_field(:patient, :last_name, class: 'form-control') %>
  </div>
</div>
<div class='form-group'>
  <div class="col-xs-7">
    <%= f.label(:patient, "Email") %>
    <%= text_field(:patient, :email, class: 'form-control') %>
  </div>
</div>
<div class='form-group'>
  <div class="col-xs-7">
    <%= f.label(:patient, 'Doctor') %>
    <%= collection_select(:doctor, :doctor_id, Doctor.all.reorder('last_name'), :id, :full_name, {}, { class: 'form-control'}) %>
  </div>
</div>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>