<div class="inside-container" id="main-content">
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <!-- upper section -->
  <div class="row">
    <div class="col-xs-3">
      <div class='panel panel-default'>
        <div class="panel-heading"><strong><i class="fa fa-medkit"></i> Toolbox</strong></div>
        <div class="well">

          <ul class="nav nav-pills nav-stacked">
            <li><%= link_to "<i class='fa fa-dashboard'></i> Profile".html_safe, patient_path(@patient) %></li>
            <li><%= link_to "<i class='fa fa-book'></i> Request an Appointment".html_safe, request_appointment_path %><li>
            <li><%= link_to "<i class='fa fa-minus-circle'></i> Sign Out".html_safe, signout_path, method: :delete %></li>

          </ul>


        </div>
      </div>
    </div>
