<div class="row">
  <div class="col-md-12 main-holder">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>Change Password</h4></div>
      <div class="panel-body">
        <%= render 'shared/flash' %>
        <%= render 'shared/error_messages', object: @patient %>

        <%= form_tag(patient_update_password_path, method: :post, html: { :multipart => :true, class: "form-horizontal", role: "form" }) do %>
          <div class='form-group'>
            <div class='col-md-7'>
              <%= label_tag('Old Password') %>
              <%= password_field_tag(:old_password, '', class: 'form-control') %>
            </div>
          </div>
          <div class='form-group'>
            <div class='col-md-7'>
              <%= label_tag('New Password') %>
              <%= password_field_tag :new_password, '',  class: 'form-control' %>
            </div>
          </div>
          <div class='form-group'>
            <div class='col-md-7'>
              <%= label_tag('Confirm new Password') %>
              <%= password_field_tag :new_password_confirm, '', class: 'form-control' %>
            </div>
          </div>
          <br/>
          <div style="text-align: center">
            <%= submit_tag 'Change', class: 'btn btn-large btn-success' %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
