<%= provide(:title, "#{full_name(@patient)} |") %>
<div class="container-fluid" style="background-color: #f5f5f5; padding-top: 2em; padding-bottom: 2em;">
  <%= render 'patients/profile_upcoming_appointment_section' %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="card">
        <div class="card-header">
          My Information
          <%= link_to 'Edit', edit_patient_path(@patient) %>
        </div>
        <div class="card-block">
          <div id="patient-show-info">
            <label>
              <b>Name:</b>
              <%= @patient.full_name %>
            </label>
            <label>
              <b>Email:</b>
              <%= @patient.email %>
            </label>
            <label>
              <b>Birthday:</b>
              <%= @patient.birthday_form_format %>
            </label>
            <label>
              <b>Sex:</b>
              <%= @patient.sex_humanize %>
            </label>
            <label>
              <b>Marital Status:</b>
              <%= @patient.marital_status_humanize %>
            </label>
            <label>
              <b>Address:</b>
              <%= patient_address(@patient) %>
            </label>
            <% if @patient.preferred_phone_humanize.present? %>
              <label>
                <b>Preferred Phone:</b>
                <%= @patient.preferred_phone_humanize %>
              </label>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="card">
      </div>
    </div>
   </div>
</div>
