<%= provide(:title, "#{full_name(@patient)} |") %>
<%= render 'patients/header' %>

<div class="row">
  <div class="col-xs-9">
    <%= render 'shared_show' %>
  </div>
  <div class="col-xs-3">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading"><h4>Options</h4></div>
          <div class="well">
            <ul class="nav nav-pills nav-stacked">
              <li><%= link_to 'Edit Profile', edit_patient_path(@patient) %></li>
              <li><%= link_to 'Change Password', patient_password_path(@patient) %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
