<div class="panel-heading"><h4>Public Profile for <%= @doctor.full_name %></h4></div>
<div class="panel-body panel-inverse">
  <%= image_tag @doctor.avatar.url(:thumb), id: 'avatar' %>
  <br/>
  <b>First Name:</b> <%= @doctor.first_name %><br/>
  <b>Last Name:</b> <%= @doctor.last_name %><br/>
  <b>Email:</b> <%= @doctor.email %><br/>
  <b>Phone:</b> <%= @doctor.phone_number %><br/>
  <b>Education:</b> <%= @doctor.education %><br/>
  <b>Department:</b> <%= @doctor.department_name %><br/>
  <b>Description:</b> <%= @doctor.description %><br/>
  <%= link_to 'Edit', edit_admin_doctor_path(current_admin, @doctor) unless current_admin.nil? %>
  <%= link_to "Close", "", { id: 'closeLink' } if request.xhr? %>
</div>
