<%= provide(:title, "New Doctor") %>
<%= render 'admins/sidebar' %>

<div class="col-md-8">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading"><h4>Add Doctor</h4></div>
        <div class="panel-body">

          <%= form_for(@doctor, html: { class: "form-horizontal", role: "form" }) do |f| %>
              <%= render 'new_edit_form', f: f %>

              <%= f.submit 'Create', class: 'btn btn-success' %>

          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>

</div>





