<%= provide(:title, "My Profile") %>
<%= render 'sidebar' %>

<div class="col-md-7">
  <div class="row">
    <div class="col-md-10">
      <div class="panel panel-default">
        <div class="panel-heading"><h4>Public Profile</h4></div>
        <div class="panel-body">
          <%= image_tag @doctor.avatar.url(:thumb), id: 'avatar' %>
          <br/>
          <b>First Name:</b> <%= @doctor.first_name %><br/>
          <b>Last Name:</b> <%= @doctor.last_name %><br/>
          <b>Email:</b> <%= @doctor.email %><br/>
          <b>Phone:</b> <%= @doctor.phone_number %><br/>
          <b>Education:</b> <%= @doctor.degree%>; <%=@doctor.alma_mater %><br/>
          <b>Department:</b> <%= @doctor.department.name %><br/>
          <b>Description:</b> <%= @doctor.description %><br/>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-2">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading"><h4>Options</h4></div>
        <div class="panel-body">
        <%= link_to 'Edit Profile', edit_doctor_path(@doctor) %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-3">
</div>
<div class="col-md-7">
  <div class="row">
    <div class="col-md-10">
      <div class="panel panel-default">
        <div class="panel-heading"><h4>Personal Information</h4></div>
        <div class="panel-body">
          <b>Email:</b> <%= @doctor.email %><br/>
          <b>Phone:</b> <%= @doctor.phone_number %><br/>
        </div>
      </div>
    </div>
  </div>
</div>

</div>


