


<%= form_for(@appointment, html: { class: "form-inline", role: "form" }) do |f| %>
  <div class='form-group'>
    <div class="col-xs-12">
      <%= f.label(:datetime, "Select Appointment Time") %> <br/>

      <select class="form-control" id="time" name="time">
      <% @open_times.each do |time| %>
          <option value="<%= time %>"><%= time %></option>
      <% end %>
    </select>
      </div>
  </div>
  <% if request.subdomain == 'admin' %>
    <div class='form-group'>
      <%= f.label(:patient, "Select patient") %>
      <%= collection_select(:patient, :patient_id, Patient.in_clinic(current_admin), :id, :full_name, {}, { class: 'form-control'}) %>
    </div>
  <% end %>
    <br/><br/>
  <div class='form-group'>
    <div class="col-xs-3">
      <%= f.label(:description, 'Notes') %>
      <%= f.text_area(:description, class: 'form-control', id: 'desc_text', placeholder: 'Appointment notes', rows: '5') %>
    </div>
  </div>
  <%= f.hidden_field :doctor_id, value: @doctor.id %>
  <%= f.hidden_field :date, value: @date %>
  <%= (f.hidden_field :patient_id, value: @patient.id) if request.subdomain != 'admin' %>
  <%= f.hidden_field :request, value: 'true' %>
      <br/><br/>
    <div style="text-align: center">
    <% if request.subdomain == 'www' %>
      <%= f.submit 'Request', class: 'btn btn-success' %>
    <% else %>
      <%= f.submit 'Schedule', class: 'btn btn-success' %>
    <% end %>
    </div>
    <br/><br/>
<% end %>







