<div class="col-xs-12">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading"><h4>Appointment Details</h4></div>
        <div class="panel-body panel-inverse">
          <b>Doctor:</b> <%=  link_to @appointment.doctor_full_name, patient_doctor_path(@patient, @appointment.doctor) %> <br/>
          <b>Time:</b> <%= @appointment.date_time_ampm %> <br/>
          <b>Notes:</b> <%= @appointment.description %>    <br/>
          <%= link_to 'Cancel', patient_appointment_path(@patient, @appointment), method: :delete %> <br/>
          <%= link_to "Close", "", { id: 'closeLink' } if request.xhr? %>                        <br/>
        </div>
      </div>
    </div>
  </div>
</div>