<div class="panel panel-default">
  <div class="panel-heading"><h4>Edit Appointment Request</h4></div>
  <div class="panel-body">
    <div class="alert alert-info">To change doctor or date, please delete and remake the request</div>

    <%= form_for(@appointment, url: patient_appointment_path, method: :patch, html: { class: "form-inline", role: "form" }) do |f| %>
      <%= f.label(:datetime, "Select Appointment Time") %>
      <div class='form-group'>
        <select class="form-control" id="time" name="appointment[time]">
          <% @open_times.each_with_index do |time, index| %>
            <option <%= 'selected="selected"' if index+1 == @open_times.length %>value="<%= time %>"><%= time %></option>
          <% end %>
        </select>
      </div>
      <br/>
      <br/>
      <div class='form-group'>
        <%= f.label(:description, 'Notes') %>
        <%= f.text_area(:description, class: 'form-control', id: 'desc_text', placeholder: 'Appointment notes', value: @appointment.description, rows: '5') %>
      </div>
      </br>
      </br>

      <%= f.submit 'Update', class: 'btn btn-success' %>

    <% end %> <br/>
    <%= link_to 'Delete Request', patient_appointment_path(@patient, @appointment), method: :delete %> <br/>
    <%= link_to "Close", "", { id: 'closeLink' }  if request.xhr? %>
  </div>
</div>