


<%= form_for(@appointment, url: url_for(controller: 'appointments', action: 'create'), html: { class: "form-inline", role: "form" }) do |f| %>
  <div class='form-group'>
    <div class="col-xs-12">
      <%= f.label(:datetime, "Select Appointment Time") %> <br/>

      <select class="form-control" id="time" name="time">
      <% @open_times.each do |time| %>
          <option value="<%= time %>"><%= time %></option>
      <% end %>
    </select>
      </div>
  </div>
    <br/><br/>
  <div class='form-group'>
    <div class="col-xs-3">
      <%= f.label(:description, 'Notes') %>
      <%= f.text_area(:description, class: 'form-control', id: 'desc_text', placeholder: 'Appointment notes', rows: '5') %>
    </div>
  </div>
  <%= f.hidden_field :doctor_id, value: @doctor.id %>
  <%= f.hidden_field :date, value: @date %>
      <br/><br/>
    <div style="text-align: center">
      <%= f.submit 'Request', class: 'btn btn-success' %>
    </div>
    <br/><br/>
<% end %>







