<%= render 'patients/header' %>

<div class="row">
  <div class="col-md-5 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>Confirmed Appointments</h4></div>
      <div class="panel-body panel-inverse">
       <div class="popup-links">
          <table class='table table-striped table-bordered table-hover table-inverse'>
            <thread>
              <tr>
                <th>#</th>
                <th>Clinic</th>
                <th>Time</th>
                <th>Doctor</th>
              </tr>
              <tbody>
              <% @appointments.each_with_index do |appointment, index| %>
                <tr>
                  <td><%= link_to("#{index+1}", patient_appointment_path(@patient, appointment)) %></td>
                  <td><%= appointment.clinic_name %></td>
                  <td><%= appointment.time_am_pm %></td>
                  <td><%= link_to "#{appointment.doctor_full_name}", patient_doctor_path(@patient, appointment.doctor) %></td>
                </tr>
              <% end %>
              </tbody>
            </thread>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row">
      <div class="col-md-12 inverse-color">
        <%= link_to "New Request", new_patient_appointment_path(@patient) %>  <br/>
        <%= link_to "Open Requests", open_requests_path(@patient) %>
      </div>
    </div>
  </div>
</div>