<%= content_for :javascripts do %>
  $(document).on('change', '#clinic_id, #period, #date, #status, #per_page', function() {
    $.ajax({
      url: '<%= patient_appointments_path(@patient) %>',
      method: 'get',
      data: {
        period: $('#period').val(),
        date: $('#date').val(),
        clinic: $('#clinic').val(),
        status: $('#status').val(),
        per_page: $('#per_page').val()
      }
    }).success(function(data) {
      $('.appointments-table').html(data);
    });
  });
<% end %>
<%= provide(:title, "Appointments |") %>
<div class="container-fluid" style="background-color: #f5f5f5; padding-top: 5em; padding-bottom: 2em;">
  <div class="row">
    <div class="col-md-3 col-md-offset-9">
      <%= link_to 'New Appointment Request', new_patient_appointment_path(@patient), :class=>'btn btn-primary' %>
    </div>
    <div class="row">
      <div class="col-md-3 col-md-offset-1">
        Clinic: <%= select_tag :clinic_id, "<option value='0'>--All Clinics--</option>".html_safe + options_from_collection_for_select(Clinic.where(:id=>@appointments.pluck(:clinic_id).uniq), :id, :name, params[:clinic_id]) %>
      </div>
      <div class="col-md-2">
        Period: <%= select_tag :period, "<option value='0'>--All--</option>".html_safe + options_for_select(['Past', 'Future'].map {|o| [o,o]}, params[:period]) %>
      </div>
      <div class="col-md-3">
        Date: <%= text_field_tag :date, params[:clinic_id], :class=>'date-picker' %>
      </div>
      <div class="col-md-2">
        Status: <%= select_tag :status, "<option value='0'>--All--</option>".html_safe + options_for_select(@appointments.map(&:status).uniq.compact.map {|o| [o.humanize.titleize,o]}, params[:status]) %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1 appointments-table">
        <%= render 'list' %>
      </div>
    </div>
  </div>
</div>