<%= render 'patients/sidebar' %>

<div class="col-xs-6">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading"><h4>Select Date</h4></div>
        <div class="panel-body">

          <%= form_for(:appointments, url:open_appointments_browse_path, remote: true, method: :get, html: { class: 'form-group form-inline', role: 'form' }) do |f| %>
            <div class="col-xs-4">
              <%= f.label(:date, "Select Date") %>

              <%= f.text_field(:date, class: "form-control" ) %>
            </div>
            <div class='form-group'>
              <div class="col-xs-7">
                <%= f.label(:patient, 'Doctor') %>
                <%= collection_select(:doctor, :doctor_id, Doctor.in_clinic(@patient).ordered_last_name, :id, :full_name, {}, { class: 'form-control'}) %>
              </div>
            </div>
            <div class='form-group' id="submit">
              <%= f.submit 'Find open times', class: 'btn btn-large btn-primary', id: 'submit_button' %>
            </div>
          <% end %>
        </div>
        <div id="open_appointment_results">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-3">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading"><h4>Options</h4></div>
        <div class="well">
          <ul class="nav nav-pills nav-stacked">
            <li><a href="#">Edit Requests</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
