<div class="container-fluid" id="header-content" >
  <div class="row-fluid">
    <div class="col-sm-10" id="breadcrumbs" style="text-align: left; padding-top: 1em; line-height: 3em;">
      <%= image_tag('mdme_logo_w.png', alt: 'logo', class: 'image-responsive', style: 'max-height: 2em;') %>
      <%= render_breadcrumbs separator: ' > ' %>
    </div>
    <div class="col-sm-1" style="padding-top: 1em; padding-bottom: 1em; ">
      <% unless @patient.nil? %>
        <%= button_to 'Sign Out', signout_path, class: 'btn btn-sm btn-warning-outline navbar-btn', id: 'signout-link', :method=> :delete %>
      <% end %>
    </div>
  </div>
</div>
<div style="margin-bottom: 1.5em;">
  <% unless @patient.nil? or ['static_pages', 'sessions'].include? controller_name %>
    <%= render 'patients/navbar' %>
  <% end %>
  <div class="row-fluid">
    <div class="col-md-8 col-md-offset-2">
      <div id="flash">
      </div>
    </div>
  </div>

  <% unless @patient.nil? %>
    <%= render 'patients/appointments/upcoming_progress_bar' unless @patient.upcoming_appointment.nil? %>
  <% end %>
</div>
