<!DOCTYPE html>
<%# if request.subdomain == 'admin' %>
 <%# <html ng-app="mdme-admin">    %>
<%# else %>
 <%# <html ng-app="mdme">  %>
<%# end %>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta name="description" content="MDme">
    <meta name="author" content="MDme">
    <link href="https://file.myfontastic.com/ydXhJAMpKMFatMxXYNTBFK/icons.css" rel="stylesheet">
    <%= favicon_link_tag %>

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

    <%= csrf_meta_tags %>


    <title><%= yield :title %> MD & ME</title>

  </head>
  <body>
      <%= render 'layouts/header' %>
      <% if ['static_pages', 'sessions'].include? controller_name %>
        <%= render 'static_pages/static_pages_menu' %>
      <% end %>
      <div id="main-content">
        <%= yield %>
      </div>
      <%# if ['static_pages', 'sessions'].include? controller_name %>
      <%# end %>

  </body>
</html>
