<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>


  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>MD & ME <%= yield :title %></title>

</head>
<body>

<% if request.subdomain == 'www' || request.subdomain.blank?  %>
<% render 'static_pages/header' %>
<% end %>



<%= yield %>

<%= render 'layouts/footer' %>
</body>
</html>
